<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">

    <servlet>
        <servlet-name>First</servlet-name>
        <servlet-class>servlets.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>First</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>servlets.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/greeting</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>servlets.RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForwardServlet</servlet-name>
        <servlet-class>servlets.ForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardServlet</servlet-name>
        <url-pattern>/forward</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CounterServlet</servlet-name>
        <servlet-class>servlets.SessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CounterServlet</servlet-name>
        <url-pattern>/counter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!--    Cookies servlets-->
    <servlet>
        <servlet-name>SetCookies</servlet-name>
        <servlet-class>servlets.cookies.SetCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetCookies</servlet-name>
        <url-pattern>/setcookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCookies</servlet-name>
        <servlet-class>servlets.cookies.GetCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCookies</servlet-name>
        <url-pattern>/getcookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCookies</servlet-name>
        <servlet-class>servlets.cookies.DeleteCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCookies</servlet-name>
        <url-pattern>/delcookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetTitles</servlet-name>
        <servlet-class>servlets.jdbc.SubjectsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTitles</servlet-name>
        <url-pattern>/subjects</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PageJsp</servlet-name>
        <jsp-file>/pages/page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageJsp</servlet-name>
        <url-pattern>/jsp</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filters.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/courses</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <jsp-file>/pages/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdatePage</servlet-name>
        <jsp-file>/pages/update.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePage</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePage</servlet-name>
        <jsp-file>/pages/delete.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePage</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>filters.CharsetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Localization</servlet-name>
        <servlet-class>servlets.LanguageSelector</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Localization</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>

</web-app>